**/node_modules/
**/build/

# typescript build's out directory
**/dist/

# cloned repos stays here.
**/repos/

# environment variables
**/.env

# virtual environment
.venv

# python pycache
**/__pycache__/

# python downloads
**/downloads

# rust target
**/target